{% extends 'base.html.twig' %}

{% block title %} FAITHWORK {% endblock %}

{% block body %}
    <div {{ vue_component('HeaderMain') }}></div>
    {# <div {{ vue_component('MainPage') }}></div> #}
    <main id="main_page">
    <section>
        <video id="video_main_autoplay" loop="loop" preload="auto" autoplay muted>
            <source src="/video/IMG_0852.mp4">
        </video>
    </section>
    </main>
    <div {{ vue_component('Slider') }}></div>
    <div {{ vue_component('Marquee') }}></div>
    <div {{ vue_component('FooterMain') }}></div>
{% endblock %}
